*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #ffffff;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    padding: 0 80px;
    font-size: 1rem;
    max-width: 1440px;
    margin: 0 auto;
    
}

/********************* Header */

nav
{
    display: grid;
    grid-template-columns: 100px 80px  2fr;

}
nav > div > img
{
    display: block;
    width: 100px;
    padding-top: 20px;
}

h1
{
    justify-self: center;
    padding: 35px 0 0 0;
    padding-top: 40px;
    font-size: 12px;   
}

li 
{
    display: inline-block; 
    padding-top: 50px;
    margin: 0 10px;   
}

a:hover, i:hover
{
    color: red;
}

li > a, i
{
    display: inline-block;
    justify-self: center;
    text-decoration: none;
    color: black;
}

ul
{
    justify-self: end;
    
}


/********************* sections */
section
{
    text-align: center;
}

#my_services
{
    padding: 110px;
    background-color: #89C4F2;
    margin-bottom: 25px;

}

/********************* main */
main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}

main > div
{
    border: solid 2px #4A4A4A;
    text-align: center;
    padding: 0 40px;
}

.bookItButton
{
    background-color: #89C4F2;
    padding: 10px 30px;
    color: white;
}


/* Footer */
#footer
{
    background-color: #FDF9BA;
    text-align: center;
    margin-top: 50px;
}

#footer p
{
    padding: 25px;
}

/* --------------------------- Media Queries ---------------------------  */

/* --------------------------- Media Queries ---------------------------  */

@media (max-width: 420px) {


}

@media (min-width: 421.01px) and (max-width: 768.99px) {


}

@media (min-width: 769px) and (max-width: 1024px) {


}

@media (min-width: 1024px) and (max-width: 1440px) {


}

@media (min-width: 1441px) {


}