*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #ffffff;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    padding: 0 80px;
    font-size: 1rem;
    max-width: 1440px;
    margin: 0 auto;   
}

/********************* Header */

nav
{
    display: grid;
    grid-template-columns: 100px 80px  2fr;

}

nav > div > img
{
    display: block;
    width: 100px;
    padding-top: 20px;
}

h1
{
    justify-self: center;
    padding: 35px 0 0 0;
    padding-top: 40px;
    font-size: 12px;   
}

li 
{
    display: inline-block; 
    padding-top: 50px;
    margin: 0 10px;   
}

a:hover, i:hover
{
    color: red;
}

li > a, i
{
    display: inline-block;
    justify-self: center;
    text-decoration: none;
    color: black;
}

ul
{
    justify-self: end;
    
}


/* Main */
main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    background-color: #E2F0D5;
    justify-self: center;

}

main > div
{
    margin: 110px;
    font-size: 1.2rem;
}

form > label
{
    display: inline-block;
    margin-top: 8px;
}

form > input
{
    padding-left: 10px;
    background-color: #E2F0D5;
    width: 100%;
    border: 1px solid #4A4A4A;
    color: #98B37D;
    line-height: 35px;
    margin-top: 5px; 
}

form > input:hover
{
    background-color: #FDF9BA;
}

input:nth-last-child(3)
{
    line-height: 135px;
}

button
{
    background-color: #4A4A4A;
    color: white;
    width: 200px;
    line-height: 35px;
    margin-top: 10px;
}

button:hover
{
    background-color: #FDF9BA;
    color: black;
}

main > section
{
    background-image: url(../img/laid\ back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */
#footer
{
    background-color: #FDF9BA;
    text-align: center;
    margin-top: 50px;
}

#footer > p
{
    padding: 25px;
}

/* --------------------------- Media Queries ---------------------------  */

/* --------------------------- Media Queries ---------------------------  */

@media (max-width: 420px) {


}

@media (min-width: 421.01px) and (max-width: 768.99px) {


}

@media (min-width: 769px) and (max-width: 1024px) {


}

@media (min-width: 1024px) and (max-width: 1440px) {


}

@media (min-width: 1441px) {


}