*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #ffffff;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    padding: 0 80px;
    font-size: 1rem;
    
}

/********************* Header */

nav
{
    display: grid;
    grid-template-columns: 100px 80px  2fr;

}
nav > div > img
{
    display: block;
    width: 100px;
    padding-top: 20px;
}

h1
{
    justify-self: center;
    padding: 35px 0 0 0;
    padding-top: 40px;
    font-size: 12px;   
}

li 
{
    display: inline-block; 
    padding-top: 50px;
    margin: 0 10px;   
}

li > a, i
{
    display: inline-block;
    justify-self: center;
    text-decoration: none;
    
}

ul
{
    justify-self: end;
    
}


/***************** Section one    . = class // # = id */
 
#section_one 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FDFCBB;
  
}

#section_one_div_one 
{
    background-color: #FDFCBB;
    text-align: left;
    margin: auto;

}

#section_one > div > img
{
    display: block;
    object-fit: cover;
    width: 100%;
}

h2
{
    font-size: 5rem;
}

.black_button
{
    color: #FFF;
    padding: 15px 20px;
    background-color: #1E1E0C;
    text-align: center
}

/********************* Main */
main
{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    text-align: center;
}

main > div
{
    padding: 50px;
    grid-column-start: 2;
    width: 100%;
}

main > div > button
{
    background-color: #ffffff;
    color: #000;
    padding: 15px 20px;
    margin-top: 25px;
}

main > div > h3
{
    padding-top: 30px;
    font-size: 3rem;
}

/*********** Section Two */

#section_two
{   
    text-align: center;
}

#section_two h3
{
    padding: 50px 0;
    font-size: 3rem;
    text-align: center;

}

#section_two > div 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
 
}

#section_two > div > img
{
    min-width: 100%;
}

#section_two > button
{
    color: #FFF;
    padding: 15px 20px;
    background-color: #1E1E0C;
    margin-top: 50px;   
}

#section_two > button:hover
{
    opacity: 0.5;
}

#section_two h4
{
    background-color: #99ddff;
    padding: 25px;
}

/****** Happy Clients ******/
#section_happy > h3
{
    padding: 50px 0;
    font-size: 3rem;
    text-align: center;
}

#section_happy > div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 75px;
}

#section_happy > div > img
{
    display: inline-block;
    width: 100%;
    object-fit: cover;
    
}

#pic_one,  #pic_three
{
    height: 700px;
}

#pic_two
{
    height: 800px;
}

#pic_five
{
    padding-top: 50px;
    height: 700px;
}

#pic_four, #pic_six 
{
    height: 700px;
}

/****** Testimonials ***/

#section_testimonials > h3
{
    padding: 50px 0;
    font-size: 3rem;
    text-align: center;
}

#section_testimonials > div
{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

}

#section_testimonials > div > div
{
    padding: 80px;
    background-color: #e6ffe6
    
}

/******* Last Section ******/
#last_section
{
    padding: 80px 0 80px 0;
    text-align: center;
    font-size: 2rem
}

#email
{
    font-size: 2rem;
    border: none;
    border-bottom: solid 1px black;
}
#email:hover
{
    border-bottom: solid 2px red;
}
/********* Footer ********/

/* Footer */
#footer
{
    background-color: #FDF9BA;
    text-align: center;
    margin-top: 50px;
}

#footer p
{
    padding: 25px;
}

